/* 🌿 General */
body {
    margin: 0;
    font-family: Arial;
    background:
linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85)),
url('girmal.jpg');

background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-attachment: fixed;

/* Header */
header {
    background: grab(27,94,32,0.85)
    color: white;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(8px);
}

/* Navbar */
nav {
    background: rgba(46, 125, 50, 0.85);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    backdrop-filter: blur(8px);
}

nav a {
    color: white;
    padding: 10px;
    text-decoration: none;
}

/* Section */
section {
    padding: 20px;
}

h2 {
    color: #2e7d32;
}

/* 🔥 CARD CONTAINER */
.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

/* 🔥 CARD */
.card {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(5px);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
/* 🔥 SAME SIZE IMAGES */
.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    display: block;   /* 🔥 ADD */
}

/* 🖼 Gallery */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.gallery-container img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

/* 📞 Contact */
#contact {
    background: #f4f4f4;
    text-align: center;
    border-radius: 10px;
}

/* 📱 Tablet */
@media (min-width: 600px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* 💻 Desktop */
@media (min-width: 900px) {
    .card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* ✨ Hover Effect */
.card:hover {
    transform: translateY(-5px);
    transition: 0.3s;
}
    /* 📱 Mobile Fix */
@media (max-width: 768px) {
    #langBtn {
        top: 70px;
        right: 10px;
        font-size: 12px;
        padding: 6px 12px;
    }
}
